<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Final By ryu</title>
    <!-- css -->
    <link rel="stylesheet" href="/static/style.css"></link>

    
</head>

<body>

    <main>
        
        <div class="info-box">

            <h1 class="info-title">Job Scrapper</h1>
            <div class="info-text">What job do you want?</div>
            <div class="info-detail-text">
                <label>Connecting URL</label>
                <div>1) berlinstartupjobs.com</div>
                <div>2) weworkremotely.com</div>
            </div>

            <div class="search-box">
                <form action="/search"">
                    <input name="keyword" type="text" placeholder="Write Keyword" required/>
                    <button>SEARCH</button>
                </form>
            </div>

        </div>

    </main>
    
</body>



</html>